I delete `name`, since there are my classmates' personal information.

In [1]:
import os 
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

In [35]:
df = pd.read_excel('./datasets/my-class-university.xlsx', skiprows=3)

In [36]:
df.dropna(inplace=True)

Columns in Vietnamese are hard to manage, so I find alternative names for them in English.
- Giới Tính: `Gender`
- Lớp: `Class`
- Ngành: `Major`
- Đại Học/ Cao Đẳng: `University`
- Ấp: `Hamlet`
- Xã: `Village`

In [38]:
column_names = ['Gender', 'Class', 'Major', 'University', 'Hamlet', 'Village']
df.columns = column_names

In [39]:
df

,Gender,Class,Major,University,Hamlet,Village
0,Nam,12A3,Toán Kinh Tế,Đại Học Kinh Tế TP.HCM,Bắc Sơn,Núi Sập
1,Nam,12A3,Sĩ Quan Chỉ Huy Tham Mưu Lục Quân,Đại Học Nguyễn Huệ,Bắc Sơn,Núi Sập
2,Nữ,12A3,Quản Trị Kinh Doanh,Đại Học Công Nghiệp TP.HCM,Bắc Sơn,Núi Sập
3,Nữ,12A3,Thương Mại Điện Tử,Đại Học Công Nghiệp TP.HCM,Bắc Sơn,Núi Sập
4,Nữ,12A3,Việt Nam Học,Đại Học An Giang,Bắc Sơn,Núi Sập
5,Nữ,12A3,Sư Phạm Anh,Đại Học An Giang,Bắc Sơn,Núi Sập
6,Nữ,12A3,Công Nghệ Thực Phẩm,Đại Học An Giang,Bắc Thạnh,Thoại Giang
7,Nữ,12A3,Quản Trị Kinh Doanh,Đại Học Công Nghiệp TP.HCM,Bắc Thạnh,Thoại Giang
8,Nữ,12A3,Quản Trị Kinh Doanh,Đại Học Công Nghiệp TP.HCM,Đông Sơn 2,Núi Sập
9,Nữ,12A3,Quản Trị Kinh Doanh,Đại Học Công Nghiệp TP.HCM,Đông Sơn 2,Núi Sập
10,Nam,12A3,Khoa Học Dữ Liệu,Đại Học Công Nghệ Thông Tin TP.HCM,Đông Sơn I,Núi Sập
11,Nữ,12A3,Ngôn Ngữ Anh,Đại Học Cần Thơ,F2,Thạnh An
12,Nữ,12A3,Quản Trị Kinh Doanh,Đại Học An Giang,Hoà Tân,Định Thành
13,Nam,12A3,Thương Mại Điện Tử,Đại Học Công Nghiệp TP.HCM,Hòa Thới,Định Thành
14,Nữ,12A3,Quản Trị Kinh Doanh,Đại Học Bình Dương,Hòa Thới,Định Thành
15,Nữ,12A3,Tâm Lý Học,Đại Học Sư Phạm TP.HCM,Hòa Thới,Định Thành
16,Nam,12A3,Kỹ Thuật Điều Khiển Và Tự Động Hóa,Đại Học Cần Thơ,Mỹ Phú,Định Mỹ
17,Nữ,12A3,Tài Chính - Ngân Hàng,Đại Học An Giang,Nam Huề,Bình Thành
18,Nữ,12A3,Quản Trị Kinh Doanh,Đại Học Kinh Tế - Luật TP.HCM,Nam Huề,Bình Thành
19,Nam,12A3,Quản Trị Kinh Doanh,Đại Học An Giang,Nam Sơn,Núi Sập
20,Nam,12A3,Ngôn Ngữ Anh,Đại Học Tôn Đức Thắng,Nam Sơn,Núi Sập
21,Nam,12A3,Văn Hóa Học - Truyền Thông Văn Hóa,Đại Học Văn Hóa TP.HCM,Nam Sơn,Núi Sập
22,Nữ,12A3,Marketing,Đại Học Công Nghiệp Thực Phẩm TP.HCM,Nam Sơn,Núi Sập
23,Nữ,12A3,Marketing,Đại Học Công Nghiệp TP.HCM,Nam Sơn,Núi Sập
24,Nữ,12A3,Marketing,Đại Học An Giang,Phú Hữu,Định Mỹ
25,Nam,12A3,Công Nghệ Thông Tin,Đại Học Cần Thơ,Sơn Tân,Vọng Đông
26,Nữ,12A3,Khoa Học Cây Trồng,Đại Học Cần Thơ,Sơn Tân,Vọng Đông
27,Nam,12A3,Truyền Thông Đa Phương Tiện,Đại Học Công Nghệ TP.HCM,Sơn Thành,Vọng Đông
28,Nam,12A3,Văn Hóa Học - Truyền Thông Văn Hóa,Đại Học Văn Hóa TP.HCM,Sơn Thành,Vọng Đông
29,Nam,12A3,Sư Phạm Ngữ Văn,Đại Học An Giang,Sơn Thành,Vọng Đônh
30,Nam,12A3,Công Nghệ Kỹ Thuật Hóa Học,Đại Học An Giang,Sơn Thành,Vọng Đông
31,Nam,12A3,Ngôn Ngữ Anh,Đại Học Công Nghiệp TP.HCM,Tân Mỹ,Mỹ Phú Đông
32,Nam,12A3,Kỹ Thuật Điều Khiển Và Tự Động Hóa,Đại Học Cần Thơ,Tân Thành,Tân Hòa
33,Nữ,12A3,Kế Toán,Đại Học Công Nghiệp TP.HCM,Tây Sơn,Núi Sập

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 0 to 33
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Gender      34 non-null     object
 1   Class       34 non-null     object
 2   Major       34 non-null     object
 3   University  34 non-null     object
 4   Hamlet      34 non-null     object
 5   Village     34 non-null     object
dtypes: object(6)
memory usage: 1.9+ KB

In [41]:
df['University'].unique()

array(['Đại Học Kinh Tế TP.HCM', 'Đại Học Nguyễn Huệ',
       'Đại Học Công Nghiệp TP.HCM', 'Đại Học An Giang',
       'Đại Học Công Nghệ Thông Tin TP.HCM', 'Đại Học Cần Thơ',
       'Đại Học Bình Dương', 'Đại Học Sư Phạm TP.HCM',
       'Đại Học Kinh Tế - Luật TP.HCM', 'Đại Học Tôn Đức Thắng',
       'Đại Học Văn Hóa TP.HCM', 'Đại Học Công Nghiệp Thực Phẩm TP.HCM',
       'Đại Học Công Nghệ TP.HCM', 'Đại Học Cần Thơ '], dtype=object)

In [45]:
df.groupby(by='University').count().sort_values('Major', ascending=False).head()

                            Gender  Class  Major  Hamlet  Village
University
Đại Học An Giang                 9      9      9       9        9
Đại Học Công Nghiệp TP.HCM       9      9      9       9        9
Đại Học Cần Thơ                  4      4      4       4        4
Đại Học Văn Hóa TP.HCM           2      2      2       2        2
Đại Học Bình Dương               1      1      1       1        1

Most of Us are student in `Đại Học An Giang` and `Đại Học Công Nghiệp TP.HCM`.
- For `Đại Học An Giang`, `9` friends there, this is basically the best choice for us, because we live here, An Giang, and the tuition fee here is affortable.
- For `Đại Học Công Nghiệp TP.HCM`, we also have `9` classmates study there, it's undastandable since they are really close to each other and enrolled that Uni together - best friend forever :D
- For `Đại Học Cần Thơ`, this is the second best choice: it's near An Giang and its tuition fee is also affortable, but the Entrance Score is a little bit high this year - at least compares to previous years.
- Other Universities only has one of my friends, most of them are in HCM City.

In [46]:
df.groupby('Gender').count().sort_values('Major', ascending=False)

        Class  Major  University  Hamlet  Village
Gender
Nữ         19     19          19      19       19
Nam        15     15          15      15       15

Nothing to do with the gender though...

In [49]:
df['Major'].value_counts()

Quản Trị Kinh Doanh                   8
Ngôn Ngữ Anh                          3
Kỹ Thuật Điều Khiển Và Tự Động Hóa    2
Văn Hóa Học - Truyền Thông Văn Hóa    2
Thương Mại Điện Tử                    2
Marketing                             2
Công Nghệ Kỹ Thuật Hóa Học            1
Sư Phạm Ngữ Văn                       1
Truyền Thông Đa Phương Tiện           1
Khoa Học Cây Trồng                    1
Công Nghệ Thông Tin                   1
Marketing                             1
Toán Kinh Tế                          1
Tài Chính - Ngân Hàng                 1
Sĩ Quan Chỉ Huy Tham Mưu Lục Quân     1
Tâm Lý Học                            1
Khoa Học Dữ Liệu                      1
Công Nghệ Thực Phẩm                   1
Sư Phạm Anh                           1
Việt Nam Học                          1
Kế Toán                               1
Name: Major, dtype: int64

- My friends love `Quản Trị Kinh Doanh`, or `Business Administration` in English, with `8` students, out-number all other majors.
- My classmates hate English, most of them, but still there is some love it, and they want to persuit this path professionally, for specific, `3` of us are `Ngôn Ngữ Anh` Students and `1` is study `Sư Phạm Anh`.
- Other `Major`s have 1-2 students enrolled, but I think it's good because we are diverse in `Major`, which I guess will contribute more to our society at some point.